<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserDAO" >
    <resultMap type="User" id="userResultMap" >
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
    </resultMap>
    <insert id="save" parameterType="User">
        INSERT INTO user
        VALUES
               (null ,#{phone} , #{password});
    </insert>

    <select id="findByPhone" resultType="User" parameterType="User">
        SELECT
               phone,password
        FROM user
        WHERE
              phone = #{phone};

    </select>
    <select id="findAll" resultMap="userResultMap">
        SELECT
               phone,password
        FROM user;
    </select>
</mapper>